@model CSM.MedicalInsurance.Assignment.Models.PatientInsurance

@{
    ViewData["Title"] = "Hello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello</h1>

<div>
    <h4>PatientInsurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientInsuranceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientInsuranceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfInsurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfInsurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheme)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
